{{ form_start(form) }}
{{ form_errors(form) }}
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="card w-100">
                    <div class="card-body p-1">
                        <div class="col-12">
                            {{ form_widget(form.pere.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom du père...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.pere.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom du père...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.pere.profession, {'attr': {'class': 'form-control', 'placeholder': 'Profession du père...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.pere.telephone1, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.pere.telephone2, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.pere.nina, {'attr': {'class': 'form-control', 'placeholder': 'Numéro Nina...'}})
                            }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="card w-100">
                    <div class="card-body p-1">
                        <div class="col-12">
                            {{ form_widget(form.meres.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la mère...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.meres.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom de la mère...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.meres.profession, {'attr': {'class': 'form-control', 'placeholder': 'Profession de la mère...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.meres.telephone1, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.meres.telephone2, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone...'}})
                            }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.meres.nina, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de nina...'}})
                            }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-end mt-4">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>

    </div>
</div>

{{ form_end(form) }}